* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #eff3ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  /* color: #000 !important; */
  text-align: center;
}

p,
span {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.container {
  max-width: 152rem;
  margin: auto;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  text-align: center;
  margin: 3.2rem 0;
  align-items: end;
}

header {
  margin: 3.2rem 0;
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  width: 32rem;
  border-bottom: 0.2em solid #020d35;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.8em;
  font-size: 1.6rem;
  color: #000000;
  -webkit-border-radius: 0.2em 0.2em 0 0;
  -moz-border-radius: 0.2em 0.2em 0 0;
  -ms-border-radius: 0.2em 0.2em 0 0;
  -o-border-radius: 0.2em 0.2em 0 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

/* ///////////////////////////////////////// */
.effect-container {
  width: 65rem;
  padding: 0 6.4rem;

  & h1 {
    margin-bottom: 3.2rem;
  }

  & p {
    margin-bottom: 1.6rem;
  }

  & span {
    font-weight: bold;
  }

  & button {
    padding: 0.6rem 1.6rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 3.2rem;
    background-color: #2ecc71;
    border: none;
    color: #fff;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  background: #00182f;
  color: white;
  font-family: "Lato", sans-serif;
}

.container {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.odometer {
  font-size: calc(2rem + 5vw);
}

.title {
  letter-spacing: 1.5px;
  line-height: 1.25;
}
