.main-div {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-div {
  width: 100rem;
  height: 50rem;
  border: 1rem solid #000;
  background-color: #85c1e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-div {
  width: 80rem;
  height: 30rem;
  border: 1rem solid #000;
  background-color: #82e0aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-div {
  width: 60rem;
  height: 10rem;
  border: 1rem solid #000;
  background-color: #f7dc6f;
  font-size: 2rem;
}

.events-handling {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.container h2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}

button {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: #82e0aa;
}

button:nth-child(even) {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: #82e0aa;
}

button:nth-child(odd) {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: #f7dc6f;
}
