/* .card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

img {
  width: 100%;
}

.card-content {
  padding: 3.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card-heading {
  margin-bottom: 3.2rem;
}

.super_hit {
  background-color: #7dcea0;
}

.average {
  background-color: #f7dc6f;
}

.rating {
  padding: 0.3rem 1.8rem;
  color: #000;
  margin-left: 1.2rem;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
} */
