@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #1c2833;
  --secondary-color: #fff;
  --bg-color: #f2f3f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 4.2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}
* {
  box-sizing: border-box;
}

/* Add padding to container elements */
.container {
  padding: 20px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}

/* Full-width input fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

input[type="phone"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #0eb7f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

button:hover {
  opacity: 1;
}

span {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0.6rem;
  color: #0eb7f4;
}
label,
p {
  font-size: 1.6rem;
}
p {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}
